body{
	font-family: 'tahoma';
	/* background-color: rgba(68,108,179, 0.2); */
	background-color: #FFF;
}
button{
	padding: 10px;
	background-color: rgba(68,108,179, 1);
	color:  #FFF;
	font-weight: bold;
	cursor: pointer;
	border: 0px;
}
#main-area{
	text-align: center;
}
#time_play{
	padding: 20px;
	background-color: rgba(68,108,179, 0.5);
	width: 500px;
	margin: 60px auto;
}
#counter-container{
	width: 70px;
	height: 70px;
	text-align: center;
	background-color: red;
	border-radius: 50%;
	margin: auto;
	color: #FFF;
	font-weight: bold;
	font-size: 24px;
	padding: 20px;
	margin-bottom: 20px;
}
#copyright{
	font-weight: bold;
	margin: 60px 345px;
	color:  rgba(68,108,179, 1);
	height: 300px;
	 visibility: hidden;
}

#copyright #left{
	float: left;
	text-align: center;
	
}

#copyright #right{
	float: right;
	text-align: center;
}
.script-txt{
	margin: 50px;
	line-height:100px; 
 	font-size:32px; 
 	font-family:'MS PGothic';
 	min-height: 400px;
 	border: 1px solid #ddd;
 	position: relative;
}
.no-border{
	border: 1px solid #FFF !important;
}

#bottom-panel{
	position: fixed;
	bottom: 10px;
	left: 20px;
	z-index: 999;
}

.xtooltip{
	background-color: #272822;
	width: auto;
	height: 30px;
	padding: 5px 10px;
	color:  #FD971F;
	font-family: 'tahoma';
	font-size:  20px;
	border-radius: 5px;
	line-height: 30px;

}

.xtooltip:after{
	content: '';
	width: 0px;
	height: 0px;
	border-bottom: 8px solid #272822;
	border-top: 8px solid transparent;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	position: absolute;
	top: -14px;
	left: 6px;

}
